@model IEnumerable<Basketbol.Models.oyuncular>

@{
    ViewBag.Title = "Ana Sayfa";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ana Sayfa</title>
    <style>
  
        table {
            font-family: 'Lucida Sans Unicode';
            text-align: center;
            color: blue;
            font-size: 15px;
            font-weight: normal;
        }
    </style>
</head>

<body>
    <hr />
    <table align="center">
        <tr><td><h2>Basketbol Projesine Hoşgeldiniz</h2></td></tr>

    </table>

</body>
</html>
